.main
	min-height: 100vh
	max-height: fit-content
	display: flex
	flex-direction: column
	align-items: center
	background: black
	color: white

	h1
		text-align: center
		font-size: 3rem
		margin-top: 2rem

	ul
		margin-bottom: 0
		font-size: 1.5rem

	li
		list-style: none

.list
	width: clamp(300px, 50vw, 1000px)

.form
	display: flex
	flex-direction: column
	margin-top: 3rem

	button
		font-size: 1.25rem
		padding: .25rem

.textbox
	font-size: 1rem
	width: clamp(300px, 50vw, 1000px)
	height: clamp(500px, 30vh, 1000px)
