.main
	min-height: 100vh
	max-height: fit-content
	display: flex
	flex-direction: column
	align-items: center
	background: black
	color: white

	h1
		text-align: center
		font-size: 3rem
		margin-top: 2rem

	ul
		margin-bottom: 0
		font-size: 1.5rem

	li
		list-style: none

.list
	width: 50vw

.form
	display: flex
	flex-direction: column
	margin-top: 3rem

.textbox
	width: 30vw
	height: 25vh
