//content box
.tabContainer
    width: 60vw
    height: 30em
    box-shadow: -0px 0px 20px 8px goldenrod
    border-radius: 5px
    overflow: scroll

//tab selector row
.tabHead
    display: flex
    // position: sticky
    background: black
    border-radius: 5px

//individual tabs
.tab
    padding: 1em
    // margin: 0.5px
    background: #9CAF88
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    width: fit-content
    text-align: center

    cursor: pointer

.tab:hover
    filter: opacity(96%)

.tab:nth-child(1)
    border-top-left-radius: 5px

.tab:nth-child(3)
    border-top-right-radius: 5px

//wrapper to inside content
.tabBody
    height: fit-content
    color: white

//content formatting
.texty
    padding: 1em

    ul
        list-style-type: none

